body {
	padding-top: 60px;
	font-family: 'Roboto', "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar .navbar-inner {
	background-color: rgb(141, 198, 63);
	background-image: none;
	color: white;
}

.navbar .brand {
	color: white;
	font-weight: 300;
}
