body {
	padding-top: 60px;
	font-family: 'Roboto', "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 24px;
}

.navbar .navbar-inner {
	background-color: rgb(141, 198, 63);
	background-image: none;
	color: white;
}

.navbar .brand {
	color: white;
	font-weight: 300;
}

p, li {
	line-height: 1.8em;
}

ul {
	list-style: none;
}

.big {
	font-size: 38px;
	font-weight: 700;	
}

strong {
	color: rgb(141, 198, 63);
}

.small {
	font-size: 14px;
}

.big-icon {
	color: #444;
	font-size: 42px;
	line-height: 1em;
	text-shadow: rgba(141, 198, 63, 0.7) 1px 1px 15px;
	margin-bottom: 0.3em;
}

.ninjas {
	padding-top: 1em;
	padding-bottom: 0.5em;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
	background-color: rgb(141, 198, 63);
	line-height: 1em;
	border-radius: 15px;
	color: white;
}

.ninja-column {
	padding: 5px 10px 10px 5px;
	max-width: 250px;
}

.ninjas .icon-ninja {
	color: white;
	font-size: 50px;
	line-height: 1em;
	width: 49px;
	position: relative;
	top: -0.25em;
	text-shadow: rgba(255, 255, 255, 0.25) 0 0 15px;
	height: 44px;
	background-image: none;
}

.icon-ninja.ninja-42 {
	color: #444;
}