body {
	padding-top: 60px;
	font-family: 'Roboto', "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 24px;
}

.navbar .navbar-inner {
	background-color: rgb(141, 198, 63);
	background-image: none;
	color: white;
}

.navbar .brand {
	color: white;
	font-weight: 300;
}

p, li {
	line-height: 2.4em;
}

ul {
	list-style: none;
}

.big {
	font-size: 38px;
	font-weight: 700;	
}

strong {
	color: rgb(141, 198, 63);
}